* {
    margin: 0;
    padding: 0;
    background: #21130d;
    color: #fff;
    scroll-behavior: smooth;
    font-family: "Outfit", serif;

}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}